# Megatutorial 1: Explorative Datenanalyse 
In diesem Megatutorial beschäftigen wir uns mit der explorativen Datenanlayse in Python 

## Aufgaben

* Lade die Daten in `pandas`.
* Führe eine deskriptive Datenanalyse mit geeigneten, statisches Maßen durch.
* Führe eine deskriptive Datenanalyse mit Hilfe von geeigneten Visualisierungen durch.

## Daten in `Pandas` laden

In [2]:
from pandas import read_csv
from matplotlib import pyplot as plt
import seaborn as sns

In [10]:
data = read_csv(
    "../../data/fake_profiles.csv", 
    sep=",", 
    decimal=".", 
    usecols=range(1,13)
    )

# Einfache Statistische Auswertung

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 576 entries, 0 to 575
Data columns (total 12 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   profile_pic                    576 non-null    object
 1   rel_num_numeric_char_username  576 non-null    float64
 2   words_fullname                 576 non-null    int64
 3   rel_num_numeric_char_fullname  576 non-null    float64
 4   name=username                  576 non-null    object
 5   description_length             576 non-null    int64
 6   has_external_url               576 non-null    object
 7   is_private                     576 non-null    object
 8   num_posts                      576 non-null    int64
 9   num_followers                  556 non-null    float64
 10  num_follows                    576 non-null    int64
 11  is_fake                        576 non-null    object
dtypes: float64(3), int64(4), object(5)
memory usage: 54.1+ KB

In [12]:
data.describe()

,rel_num_numeric_char_username,words_fullname,rel_num_numeric_char_fullname,description_length,num_posts,num_followers,num_follows
count,576.000000,576.000000,576.000000,576.000000,576.000000,5.560000e+02,576.000000
mean,0.163837,1.460069,0.036094,22.623264,107.489583,8.835909e+04,508.381944
std,0.214096,1.052601,0.125121,37.702987,402.034431,9.262573e+05,917.981239
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000
25%,0.000000,1.000000,0.000000,0.000000,0.000000,3.800000e+01,57.500000
50%,0.000000,1.000000,0.000000,0.000000,9.000000,1.415000e+02,229.500000
75%,0.310000,2.000000,0.000000,34.000000,81.500000,7.285000e+02,589.500000
max,0.920000,12.000000,1.000000,150.000000,7389.000000,1.533854e+07,7500.000000

In [15]:
data["words_fullname"].values

array([ 0,  2,  2,  1,  2,  4,  2,  2,  0,  2,  2,  2,  2,  2,  2,  3,  3,
        3,  2,  2,  2,  1,  2,  1,  0,  1,  6,  2,  2,  2,  2,  0,  2,  2,
        2,  2,  0,  2,  2,  2,  0,  2,  2,  2,  4,  3,  2,  2,  1,  0,  3,
        2,  1,  2,  0,  1,  2,  1,  1,  2,  1,  1,  2,  1,  2,  2,  2,  1,
        2,  3,  2,  1,  1,  2,  2,  1,  2,  2,  3,  1,  2,  2,  3,  2,  2,
        3,  1,  1,  0,  1,  2,  2,  1,  2,  1,  2,  1,  0,  0,  3,  2,  0,
        3,  1,  2,  1,  0,  2,  2,  2,  2,  1,  1,  1,  1,  1,  1,  1,  0,
        1,  2,  0,  2,  2,  2,  0,  2,  1,  2,  1,  4,  1,  2,  3,  2,  0,
        2,  2,  1,  3,  0,  1, 12,  2,  1,  2,  2,  5,  2,  2,  2,  2,  1,
        2,  2,  2,  3,  2,  2,  0,  1,  3,  1,  2,  3,  6,  1,  0,  2,  1,
        1,  3,  1,  2,  0,  2, 10,  2,  5,  2,  2,  2,  2,  2,  2,  2,  3,
        1,  2,  2,  1,  2,  2,  4,  1,  2,  2,  2,  2,  2,  2,  0,  1,  1,
        2,  0,  1,  4,  0,  2,  2,  2,  2,  2,  2,  2,  3,  2,  0,  2,  2,
        1,  1,  1,  1,  1,  1,  3,  2,  1,  2,  2,  3,  5,  2,  2,  2,  3,
        2,  2,  2,  2,  1,  2,  2,  1,  0,  0,  1,  1,  0,  1,  2,  1,  1,
        1,  0,  1,  2,  2,  2,  2,  3,  2,  2,  2,  2,  2,  2,  2,  3,  1,
        2,  2,  2,  3,  1,  2,  0,  1,  1,  1,  2,  1,  1,  2,  2,  2,  1,
        1,  1,  0,  3,  2,  1,  1,  1,  2,  1,  1,  1,  0,  1,  1,  1,  1,
        1,  1,  3,  1,  1,  1,  1,  1,  1,  1,  0,  2,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  1,  0,  1,  1,  1,  1,  0,  1,
        1,  2,  2,  1,  2,  1,  1,  3,  1,  1,  1,  1,  1,  5,  0,  1,  0,
        1,  1,  1,  1,  1,  1,  1,  0,  1,  0,  0,  1,  1,  1,  2,  1,  0,
        1,  1,  2,  0,  1,  1,  1,  1,  1,  1,  0,  1,  1,  2,  1,  1,  1,
        1,  1,  1,  1,  0,  1,  1,  0,  1,  0,  1,  2,  2,  3,  1,  0,  1,
        1,  1,  2,  1,  3,  2,  4,  1,  2,  1,  1,  2,  2,  0,  1,  1,  0,
        1,  1,  1,  1,  1,  1,  1,  1,  1,  2,  3,  2,  1,  1,  1,  1,  1,
        3,  2,  0,  3,  2,  0,  1,  1,  0,  2,  0,  1,  1,  1,  1,  1,  1,
        2,  1,  1,  1,  1,  1,  1,  1,  2,  1,  2,  1,  1,  1,  1,  1,  1,
        1,  1,  1,  1,  0,  1,  1,  2,  1,  1,  1,  1,  1,  2,  1,  1,  1,
        1,  1,  2,  1,  1,  1,  1,  2,  1,  1,  2,  1,  1,  2,  1,  1,  0,
        1,  1,  1,  1,  1,  0,  1,  1,  2,  1,  1,  1,  2,  1,  2,  1,  1,
        1,  1,  1,  1,  1,  1,  1,  2,  2,  1,  1,  2,  1,  1,  2,  1,  1,
        2,  1,  1,  1,  1,  1,  0,  1,  1,  1,  1,  1,  1,  1,  1,  1,  4,
        2,  1,  2,  1,  1,  1,  1,  1,  3,  1,  1,  1,  2,  1,  1])